####
#
# Constants and variables
#
####
DEFAULT_DBUSER='orcl'  # use single quotes if username contains special characters like $
ORA_WALLET_AUTH=true  # true = use Oracle Wallet Authentication, false = use plain text password files Authentication

DBSERVICE="orcl"
DBUSER=${SCHEMA_OWNER:-$DEFAULT_DBUSER}  # Default db user when SCHEMA_OWNER is unset/null

# Configure database connection parameters
DBSERVER="<db_server_address>"
DBPORT="<db_server_port>"
DBCONN="//${DBSERVER}:${DBPORT}/${DBSERVICE}"

# TNS Name for Wallet Authentication
DBTNSWALLET="//@${DBSERVICE^^}_${DBUSER^^}"  # TNS_NAME Instance to connect through Oracle Wallet, format example <DBSERVICE>_<DBUSER>


# Configure APEX parameters
APEXWORKSPACE="xxx"

# Configure the grantee schema owners that should be included when exporting object privileges
# Only the schema owners specified below, will be included in the grant scripts.
# Colon seperated value string <value:value:value>
GRANTEE_OBJECT_PRIVS='abc:def'  # Use single quotes here to prevent the $ from being interpreted!

# Set local APEX destination folders
APEX_APPLICATION_DIR="./apex/${APEXWORKSPACE}/apps"
APEX_STATIC_FILE_DIR="./apex/${APEXWORKSPACE}/static"

# define password filename
CONFIG_DIR="./scripts/config"   # local path to the configuration folder
PASSWD_DIR="${CONFIG_DIR}/passwords"
PASSWD_FILE="${PASSWD_DIR}/${DBSERVICE}.${DBUSER}.pwd"


####
#
# Assertions
#
####
echo OraWallet Authentication = "${ORA_WALLET_AUTH}"
# Check for local password file (if not ora_wallet)
if [[ ! ${ORA_WALLET_AUTH} == true ]] ; then
  echo Do not use ORA Wallet, check for local password
  [ -f "${PASSWD_FILE}" ] && { echo "Password file found"; PASSWD=`cat ${PASSWD_FILE}`; } || { echo "File ${PASSWD_FILE} cannot be found, no password available."; echo ""; echo ".. The passwords have been moved to a dedicated folder, make sure your password files exists in ${PASSWD_DIR} and try again."; exit 0; }
fi


####
#
# Assemble CONNECTION_STRING
#
####
if [[ ${ORA_WALLET_AUTH} == true ]] ; then
  CONNECTION_STRING="${DBTNSWALLET}"
  CONNECTION_STRING_NO_PASSW="${DBTNSWALLET}"  # 
else
  CONNECTION_STRING="${DBUSER=}/${PASSWD}@${DBCONN}" # Connection string for the database 
  CONNECTION_STRING_NO_PASSW="${DBUSER=}@${DBCONN}"  # Connection string to display without password
fi


####
#
# Set NLS_LANG environment variable
#
####
# export NLS_LANG=AMERICAN_AMERICA.AL32UTF8
export JAVA_TOOL_OPTIONS="-Duser.language=en -Duser.region=US -Dfile.encoding=AL32UTF8"

####
#
# Set sqlnet.ora variables
#
####
export PROJ_ROOT=$(cygpath -w "`pwd`")  # Get the project root folder
export USER=`whoami`  # Get the logged on user
